::selection {
  background-color: #e70;
  color: #ddd;
  text-shadow: none;
}

body {
    background:#ddd;
    color: #666;
    font-family: sans-serif;
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
}

h1 {
    margin-top:2em;
    margin-bottom:0em;
    text-shadow: -1px -1px 1px #777, 1px 1px 1px #eee;
    color:#e70;
    text-align:center;
}

code {
    background: #fff6;
    padding: 0.2em 0.5em;
    border-radius: 0.4em;
    text-shadow: none;
    font-weight: bold;
}

#subtitle {
    font-style: italic;
    font-variant: super;
    font-weight: bold;
    margin-top: 0;
    margin-bottom:0.5em;
    text-align:center;
    color:#999;
}

#header > ul {
    list-style-type: none;
    padding:0em;
    margin-top:0;
    text-align: center;
}

body > p, body > ul {
    margin: auto;
    display: block;
    max-width: 100vw;
}

body > p {
    line-height:1.75;
}

#description {
    width: 1000px;
    margin: 1em auto 0 auto;
    line-height: 1.75;
    columns:20em 2;
    column-gap:1.5em;
}

#description p {
    margin:0px;
    margin-bottom:1em;
}

li > p {
    margin:0.5em;
}

p, h2 {
    text-shadow: -1px -1px 0px #ccc, 1px 1px 0px #eee;
}

a {
    color: inherit;
    text-decoration:none;
    border-bottom: solid 1px #d70;
    transition: color 0.5s ease-out;
}

a:hover {
    color: #d70;
}

#logo-container {
    margin-top: 10vh;
    margin-bottom:5vh;
    width: 70vw; /* fallback for when calc() is not supported */
    width: calc(30vw + 300px);
    max-width:95vw;
    height: 40vh;
    max-height:40vw;
    box-shadow: inset 0px -5px 6px -4px #ddd, inset 0px -5px 5px -6px #000;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    background-image: linear-gradient(180deg, #ddd0, #ddd0 60%, #fff 90%);
    z-index: -3;
}


#logo {
    position:relative;
    width:90vw;
    height:90vw;
    max-width:120vh;
    max-height:120vh;
    margin:auto;
    z-index: -2;
    /*
     * center the logo horizontally in the logo-container
     * ref: https://stackoverflow.com/a/41059954
     */
    margin-left: 50%;
    transform: translateX(-50%);
}

#logo #logo-planet {
    position:absolute;
    width:150%;
    height:150%;
    top:20%;
    left:-25%;
    background: url('../img/Earth-by-Wawan-Hermawan-ID-CCBY-The-Noun-Project-1012670.svg') no-repeat center;
    background-size:contain;
    filter: drop-shadow( -1px -1px 3px #d70) drop-shadow( 1px 1px 2px #777);
    z-index:1;
    transform: rotate(170deg)
}

#logo #logo-cannon {
    position:absolute;
    height:14%;
    width:14%;
    top:8%;
    left:39.5%;
    background: url('../img/Cannon-by-Vectors-Market-CCBY-The-Noun-Project-2054657.svg') no-repeat center;
    background-size:contain;
    z-index:2;
}

#logo #logo-cannon::before {
    content: " ";
    display: block;
    width: 50%;
    height: 0px;
    border-top: dotted 0.5vh black;
    position: absolute;
    transform: rotate(-40deg);
    top: -15%;
    left: 90%;
}

.cannonball {
    position:absolute;
    width:4.5%;
    height:4.5%;
    background: url('../img/Ball-by-Ricki-Tri-Putra-ID-CCBY-The-Noun-Project-2717454.svg') no-repeat center;
    background-size:99%; /* with 'contain' background stills seems to be clipped under certain conditions */
    z-index:2;
}

.cannonball::after {
    content:" ";
    display:block;
    width:55%;
    height:55%;
    top:20%;
    left:25%;
    position:absolute;
    background-size:contain;
    background-position:50% 50%;
    background-repeat:no-repeat;
    opacity:0.85;
}

#logo #logo-cannonball-audio {
    top:16%;
    left:51%;
}
#logo #logo-cannonball-audio::after {
    background-image: url('../img/Audio-by-Saepul-Nahwan-ID-CCBY-The-Noun-Project-1825201.svg')
}

#logo #logo-cannonball-video {
    top:16.2%;
    left:55.45%;
}
#logo #logo-cannonball-video::after {
    background-image: url('../img/Video-by-William-CCBY-The-Noun-Project-1980706.svg')
}

#logo #logo-cannonball-image {
    top:12.35%;
    left:53.4%;
}
#logo #logo-cannonball-image::after {
    background-image: url('../img/Image-by-thiyagu-IN-CCBY-The-Noun-Project-99740.svg')
}

#logo #logo-cannonball-text {
    left: 58%;
    top:2px; /* to avoid being a bit clipped when spinning */
    animation-name: ball-rolling;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#logo #logo-cannonball-text::after {
    background-image: url('../img/Content-by-Graphic-Tigers-CCBY-The-Noun-Project-1000735.svg')
}

.samizdat-fetched-resources-list {
  padding: 0px;
  list-style-type: none;
}

.samizdat-fetched-resources-list + .samizdat-fetched-resources-list-empty {
    display:none;
    font-style: italic;
    font-family:Monospace;
    text-align:center;
    color:#999;
    font-size:120%;
}

.samizdat-fetched-resources-list:empty ~ .samizdat-fetched-resources-list-empty {
    display:block;
}

.samizdat-fetched-resources-list:empty ~ .samizdat-fetched-resources-controls {
    display:none;
}

.samizdat-fetched-resources-controls {
    display: flex;
}

.samizdat-fetched-resources-controls span {
    margin:0em 1em;
}

.samizdat-fetched-resources-controls .spacer {
    flex: 1 auto;
}

.samizdat-fetched-resources-controls button {
    font-size: 90%;
    padding: 0px;
    margin: 0px;
    font-family: Monospace;
}

.samizdat-fetched-resources-controls input {
    font-size: 80%;
    border: solid 1px #aaa;
    margin: 0em 0.2em 0em 0em;
    border-radius: 0.3em;
    padding: 0em 0.5em;
    box-shadow: inset 0px 0px 3px 0px #bbb;
    transition: box-shadow 1s ease-out;
    background: #eee;
}

.samizdat-fetched-resources-controls input:focus {
    box-shadow: inset 0px 0px 3px 0px #f80;
}

.samizdat-fetched-resources-item {
  padding:0.01em;
  box-shadow:inset 0px 0px 0.5em 0.1em #ddd;
}

.samizdat-fetched-resources-item:nth-child(odd) {
  background:linear-gradient(90deg, #ddd 0, #eee 2em, #eee 95%, #ddd 100%);
}

.samizdat-fetched-resources-item:nth-child(odd) > label > .samizdat-fetched-resource-url::after {
  background:linear-gradient(90deg, #eee0 0%, #eee 100%);
}

.samizdat-fetched-resources-item > label > .samizdat-fetched-resource-url {
  flex-grow: 1;
  margin-right: 3em;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top:0.25em;
}

.samizdat-fetched-resources-item > label > .samizdat-fetched-resource-url::after {
    content: " ";
    width:2em;
    height:100%;
    background:linear-gradient(90deg, #ddd0 0%, #ddd 100%);
    right:0px;
    display:block;
    top: 0;
    position: absolute;
}

.samizdat-fetched-resources-item > label > .samizdat-fetched-resource-url > span {
    position:relative;
    left:0px;
    transition: left 3s ease-in-out;
}

.samizdat-fetched-resources-item:hover > label > .samizdat-fetched-resource-url > span {
    left:-20%;
}

.samizdat-fetched-resources-item > label {
  display: flex;
  margin:0.4em 0.5em;
}

#samizdat-fetched-resources-container {
  max-width: 1000px;
  width:95vw;
}

.samizdat-fetched-resources-item > label > * {
  margin: 0 0.5em;
  font-family: Monospace;
}

input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 0.7em;
  min-width:0.7em;
  height: 0.7em;
  min-height:0.7em;
  margin-top:0.35em;
  background: #bbb;
  border-radius: 0.2em;
  box-shadow: inset 0px 0px 3px #777;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

input[type=checkbox]:checked {
  box-shadow: 0px 0px 3px #f80, 0px 0px 3px #a60;
  background: #f80;
}

.samizdat-fetched-resource-method {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration:none;
  text-shadow:none;
  background:#bbb;
  padding:0.4em 1em;
  border-radius:0.6em;
  font-size:80%;
  color:#777;
  box-shadow: inset 0px 0px 3px #777;
  margin: 0.5em;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}

.samizdat-fetched-resource-method.success {
  box-shadow: 0px 0px 3px #f80, 0px 0px 3px #a60;
  color:#fff;
  background: #f80;
}

.samizdat-fetched-resource-method.running {
  animation-name: method-running;
  animation-direction: alternate;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#footer {
    font-size:60%;
    opacity:0.7;
    align-self:flex-end;
    text-align:center;
    padding-top:3em;
    margin-bottom: 5em;
}

#footer > span {
    font-family: Monospace;
    color:black;
    font-size:140%;
}

@keyframes ball-rolling {
  from {transform:rotate(0deg)}
  to {transform:rotate(359deg)}
}

@keyframes method-running {
  from {
    box-shadow: inset 0px 0px 3px #777, 0px 0px 3px #a60;
    color:#777;
    background: #bbb;
  }
  to {
    box-shadow: 0px 0px 3px #f80, 0px 0px 3px #a60;
    color:#fff;
    background: #f80;
  }
}

@media(max-width:1040px) {
  #description,
  #samizdat-fetched-resources-container,
  footer {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 90%;
  }
}
